
$color-primary-light:#CEABA5;
$color-primary-medium:#B09692;
$color-primary-dark:#A58984;

$color-secondary-light:#E5DED7;
$color-secondary-medium:#CFC2B6;
$color-secondary-dark:#B39F8B;

$color-tertiary-light:#9BB7CF;
$color-tertiary-medium:#8DACC7;
$color-tertiary-dark:#7099BC;

$color-white:#F9F9F8;
$color-dark:#2A2A34;

$color-grey-light:#ECECEC;
$color-grey-medium:#B9BBB9;
$color-grey-dark:#5D6061;

$grid-width:100%;
$gutter-horizontal: 4rem;
$gutter-vertical: 3rem;

