body{
    color:$color-dark;
    font-family: 'Jaldi', sans-serif;
    font-weight: 400;
    line-height: 1.25;
}

.heading{
    font-family:  active, sans-serif;
    font-weight: 700;
    display: inline-block;
}

.heading-primary--main{
    font-size:11rem;
    margin-top:15rem;
    letter-spacing:2px;
}

.heading-sub{
    font-size: 3.6rem;
    letter-spacing: 2.5px;
}

.heading-secondary{
    font-size:8rem;
    margin-bottom:4rem;
}

.heading-tertiary{
    font-size:4rem;
}

.paragraph-large{
    font-size:2.2rem;
    letter-spacing: .25px;
    line-height: 1.5;

}
.paragraph-medium{
    font-size:1.8rem;
    margin-bottom: .5rem;

}
.paragraph-small{
    font-size:1.6rem;
}

.fa{
    color:$color-grey-dark;
    text-decoration: none;
    font-size: 7rem;
    height: 7rem;
    width:  7rem;
    &:not(:first-child){ //every thing except last child
        margin-left: 4rem;
     }
}


/*
.heading-xlarge{
    font-size:14.4rem;
}

.heading-large{
    font-size:9.6rem;
    font-weight: 700;


.heading-medium{
    font-size:7.2rem;
    font-weight: 700;
}

*/

